@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/stylecontact.css">
    <link rel="stylesheet" href="mobile.css" media="screen and (max-width: 768px)">

</head>
<body>
    <div class="container" style="text-align: center; color: hsl(34, 93%, 50%);">
        <h1>Bienvenidos</h1>
    </div>


    <div class="container ">



        <div class="row">
            <div class="col-sm-12  col-md-5  col-lg-5  col-xl-5">
                <h1>Contáctanos</h1>
                <br><br>


                <h4>LLÁMANOS</h4>
                <br>
                <ul>

                    <li>

                        <strong>Teléfono:</strong><a href="tel:+16013323500">(601) 3323500</a>

                    </li>

                </ul>


                <br><br><br><br><br>


                <h4>UBICACIÓN</h4>
                <ul>

                    <li>

                        <strong>Dirección:</strong> Cra. 16 # 39A-77, Teusaquillo, Bogotá



                    </li>
                </ul>


                <br><br>


                <h4>HORARIOS</h4>
                <ul>
                    <li>
                    <li> <strong></strong>Lunes-Viernes : 8:00 a 20:00</li>
                    <li><strong></strong> Sábados: 8:00 a 12:00</li>
                    <li><strong></strong>Domingos : Cerrado</li>
                    </li>

                </ul>








            </div>

            <div class="col-sm-12  col-md-7  col-lg-7  col-xl-7">

                <form class="form-section" action="maquetacion.html" method="POST">



                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email-address@example.com" required>
                    </div>
                    <br>

                    <div class="mb-3">
                        <label for="Nombre" class="form-label"> Nombre</label>
                        <input class="form-control" type="name" placeholder="Nombre" aria-label="default input example" required>
                    </div>
                    <br>


                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Direccion" required>
                    </div>
                    <br>


                    <div class="mb-3">
                        <label for="Mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="Mensaje" rows="3"></textarea>
                    </div>

                    <br>



                    <a class="fcc-btn" href="index.html">Enviar</a>

                </form>


            </div>
        </div>

    </div>


</body>
</html>