@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/registrationStyleSheet.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/PersonStylesheet.css" type="text/css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/5.2.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <title>User Registration</title>
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Registration</h2>
                                <p class="text-white-50 mb-5">Please enter your data</p>
                                <form action="https://localhost:7119/User/" method="post" id="registration-form">
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="nameText" class="form-control form-control-lg" />
                                        <label class="form-label" for="nameText">Full Name</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="identificationNumber" maxlength="15" class="form-control form-control-lg" />
                                        <label class="form-label" for="identificationNumber">Identification Number</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="phoneNumber" maxlength="10" class="form-control form-control-lg" />
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="workingday-dropdown">Jornada</label>
                                        <select id="workingday-dropdown">
                                            <option value=1>Diurna</option>
                                            <option value=2>Nocturna</option>
                                            <option value=3>Sabatina</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="motorbike-brand">Motorbike Brand</label>
                                        <select id="motorbikebrand-dropdown">
                                            <option value=1>AKT</option>
                                            <option value=2>ApolloMotors</option>
                                            <option value=3>Aprilia</option>
                                            <option value=4>Ayco</option>
                                            <option value=5>Bajaj</option>
                                            <option value=6>Benelli</option>
                                            <option value=7>BMW</option>
                                            <option value=8>CFMoto</option>
                                            <option value=9>Ducati</option>
                                            <option value=10>Harley Davidson</option>
                                            <option value=11>Hero</option>
                                            <option value=12>Honda</option>
                                            <option value=13>Husqvarna</option>
                                            <option value=14>JiglingMotos</option>
                                            <option value=15>Kawasaki</option>
                                            <option value=16>Keeway</option>
                                            <option value=17>Kymco</option>
                                            <option value=18>KTM</option>
                                            <option value=19>Lifan</option>
                                            <option value=20>Piaggio</option>
                                            <option value=21>Pulsar</option>
                                            <option value=22>Royal Enfield</option>
                                            <option value=23>Sherco</option>
                                            <option value=24>Starker</option>
                                            <option value=25>Suzuki</option>
                                            <option value=26>SYM</option>
                                            <option value=27>Triumph</option>
                                            <option value=28>TVS</option>
                                            <option value=29>Vespa</option>
                                            <option value=30>Yamaha</option>
                                            <option value=31>YCFRiding</option>
                                        </select >
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="motorbike-plate" maxlength="6"/>
                                        <label class="form-label" for="motorbike-plate">Motorbike Plate</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input id="motorbike-model" type="number" min="1900" max="2099" step="1" value="2023" />
                                        <label class="form-label" for="motorbike-model">Motorbike Model</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="userName" maxlength="15" class="form-control form-control-lg" />
                                        <label class="form-label" for="userName">User name</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="passwordUser" class="form-control form-control-lg" />
                                        <label class="form-label" for="passwordUser">Password</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

                                </form>
                                <script src="~/js/CreateAnUserAPICall.js"></script>
                                <script src="~/js/CreateAnUserPost.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<</html>




